src/main/resources/xml/country_test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="root" type="rootType"/>

   <xs:complexType name="rootType">

        <xs:sequence>
            <xs:element type="countryType" name="country" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="countryType">

        <xs:sequence>
            <xs:element name="name" type="xs:string"/> <!--simple-type STRING, INT etc-->
            <xs:element name="capital" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="visa_cost" type="visa_costType"/>  <!--complex-Type - -like new obj with attr-->
        </xs:sequence>

        <xs:attribute type="xs:string" name="c_code" use="required"/>

    </xs:complexType>

    <xs:complexType name="visa_costType">   <!--for visa cost, if we want to add atribute-->

        <xs:simpleContent>
            <xs:extension base="xs:int">
                <xs:attribute type="xs:string" name="currency" use="required"/>
            </xs:extension>
        </xs:simpleContent>



    </xs:complexType>
    
</xs:schema>